.ant-layout-sider, .background {
	background: white;
}

.row {
	margin: 1.5em;
}

.reset {
	background: white;
	padding: 1em;
}

.reset > button {
	border: 1px solid #424242;
	border-radius: 1px;
}

.price {
	margin-top: 8px;
}

.menu {
	border: none;
}

.menu > * {
	color: #333333;
}

.checkbox > span:first-child {
	border: 1px solid black;
}

.submenu {
	border-bottom: 1px solid #333;
}

.pricefilter {
	margin-bottom: 1em;
}

.productscontainer {
	padding-left: 1.5em;
	padding-right: 1.5em;
	padding-bottom: 1.5em;
}

.blackfont {
	color: black;
}

.searchbarresults {
	position: absolute;
	font-size: inherit;
	left: 20%;
	width: 40%;
	top: 2%;
}

.ant-menu-inline .ant-menu-item:after, 
.ant-menu-vertical-left .ant-menu-item:after, 
.ant-menu-vertical-right .ant-menu-item:after, 
.ant-menu-vertical .ant-menu-item:after {
	border-right: none;
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
	background-color: white;
}

.ant-menu-item:hover {
	background-color: #F9F9F9;
}

.ant-checkbox-checked .ant-checkbox-inner {
    background-color: #333;
    border-color: #333;
}

.ant-btn:focus, .ant-btn:hover {
    color: #333;
    background-color: white;	
    border-color: #333;
}

.ant-card-body {
	padding-left: 10px;
}

.ant-card-bordered {
	border: none;
}

.filterrow {
	margin-left: -20px;
}

.ant-typography {
	color: black;
}

.ant-menu-submenu-title:hover {
	color: #333;
}

.ant-menu-submenu-inline>.ant-menu-submenu-title:hover .ant-menu-submenu-arrow:before {
	background: #333;
}

.ant-menu-submenu-inline>.ant-menu-submenu-title:hover .ant-menu-submenu-arrow:after {
	background: #333;
}

.ant-checkbox-inner {
	border: none;
}

.ant-card-cover img {
	height: 350px;
}